<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/zapfino" rel="stylesheet" />

    <link rel="stylesheet" href="../assets/css/top.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <title>task-ex</title>
  </head>
  <body>
    <header>
      <div class="header__wrap">
        <div class="header__wrap__logo"><h1>SALON BEPPU</h1></div>
        <div class="header__wrap__ham">
          <a class="header__wrap__ham__trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="header__wrap__nav">
          <ul>
            <li><a href=".i-catch">MENU</a></li>
            <li><a href="">CONCEPT</a></li>
            <li><a href="">ACCESS</a></li>
            <li><a href="">RESERVE</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <section class="i-catch">
        <div class="i-catch__text">
          <div class="i-catch__text__container">
            <p class="i-catch__text__container__first">髪は、大事です。</p>
            <p class="i-catch__text__container__second">We need Hair.</p>
          </div>
        </div>
        <div class="i-catch__img"></div>
      </section>

      <section class="concept">
        <div class="concept__container">
          <p class="title">CONCEPT</p>
          <div class="concept__container__images">
            <div class="img1">
              <img src="../assets/images/img2.png" alt="" />
            </div>
            <div class="img2">
              <img src="../assets/images/img3.png" alt="" />
            </div>
          </div>
        </div>
        <div class="concept__bottom">
          <div class="concept__bottom__contents">
            <div class="concept__bottom__contents__title">髪は、大事です。</div>
            <div class="concept__bottom__contents__text-pc">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </div>
            <div class="concept__bottom__contents__text-tab">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </div>
          </div>
        </div>
      </section>

      <section class="menu">
        <p class="menu__title">MENU</p>
        <div class="menu__container">
          <div class="menu__container__items">
            <img src="../assets/images/img4.png" alt="" />
            <div class="menu__container__items__text">
              <p class="course">Design Cut</p>
              <p class="detail">
                テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。
              </p>
              <p class="cost">￥9,800(税抜)</p>
            </div>
          </div>
          <div class="menu__container__items">
            <img src="../assets/images/img5.png" alt="" />
            <div class="menu__container__items__text">
              <p class="course">Design Perm</p>
              <p class="detail">
                テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。
              </p>
              <p class="cost">￥19,800～(税抜)</p>
            </div>
          </div>
          <div class="menu__container__items">
            <img src="../assets/images/img6.png" alt="" />
            <div class="menu__container__items__text">
              <p class="course">Make Up</p>
              <p class="detail">
                テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。テキストテキストテキスト。
              </p>
              <p class="cost">￥8,800～(税抜)</p>
            </div>
          </div>
        </div>
      </section>

      <section class="access">
        <div class="access__container">
          <p class="access__container__title">ACCESS</p>

          <div class="access__container__items">
            <div class="access__container__items__address">
              <div class="access__container__items__address__branch">
                <p>池袋東口店</p>
              </div>
              <div class="access__container__items__address__text">
                <p>テキストテキストテキスト</p>
                <p>000-0000-0000</p>
                <p>営業時間 10:00～18:00</p>
                <p>定休日 第一・第三月曜日</p>
              </div>
            </div>
            <iframe
              class="access__container__items__map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18322.905214743158!2d139.6998129507599!3d35.724678148904324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5d4043e0dd%3A0x213775d25d2b034d!2z5rGg6KKL6aeF!5e0!3m2!1sja!2sjp!4v1598620852402!5m2!1sja!2sjp"
            ></iframe>
          </div>
        </div>
        <div class="access__bottom"></div>
      </section>
    </main>
    <footer>
      <div class="footer__container">
        <div class="footer__container__left">
          <div class="footer__container__left__logo"><p>SALON BEPPU</p></div>
          <div class="footer__container__left__sns">
            <span><i class="fab fa-twitter"></i></span
            ><span><i class="fab fa-facebook-square"></i></span>
          </div>
        </div>
        <button class="reserve">RESERVE</button>
      </div>
    </footer>
  </body>
</html>
